.grid {
    display: flex;
    flex-direction: row;
  }
  
  .grid-row {
    display: flex;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .occupied {
    background-color: green;
    color: green;
  }